$black: #222222;
$white: #FFF;
$gray: #E9ECEF;
$gray-secondary: #CCCCCC;
$v-green: #0B5733;
$v-dark-green: #053321;
$v-green-secondary: #076B33;
$v-light-green: #0AA649;
$v-light-green-secondary: #0AB665;